{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edumeet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Edumeet  | Video Conferencing For Education.">
  <meta name="keywords" content="edumeet, video-conferencing, html, sass, jquery">
  <meta name="author" content="Abiona Israel">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/feature.css' %}">

</head>
<body>